*{
    margin :0;
    padding :0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


a{
    text-decoration :none;
}
.logo{
    width:160px;
    background-color:white;
}
.parent
{
    background-color:grey;
    padding:20px;
    display:flex;
    align-items:center;
    gap:60px;
    padding-left:60px;
    position:fixed; 
    width:100vw;
}

.searchbox{
    width:600px;
    height:40px;
    border-radius:5px;
    color:black;
    padding-right:10px;
    border :1px solid black;

}
.nav{
   display:flex;
   gap:40px;
    font-size:18px;
    padding:10px;
    background-color:green;

}
.navimg{
 display:flex;
   gap:40px;
    font-size:18px;
    padding:10px;
}
.bannerimg{
width:100%;
}
.navtwo{
    display:flex;
    gap :40px;
    padding:20px;
}
.card1{
    background-color:blue;
    padding:20px;
    width :20%;
    margin-top:10px;
}
.c1img{
    width:250px;
}